@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
}

nav {
  position: relative;
  z-index: 1;
  padding: 0 40px;
}
@media (max-width: 500px) {
  nav {
    padding: 0 12px;
  }
}
nav .navbar-toggler {
  color: #fff;
}
nav .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav .navbar-collapse .navbar-nav {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  nav .navbar-collapse .navbar-nav {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
nav .navbar-collapse .nav-link,
nav .navbar-collapse a {
  font-weight: 600;
  color: #fff !important;
  font-size: 16px;
}
nav .navbar-collapse .btn-login {
  font-weight: 700;
  font-size: 14px;
  outline: 1px solid #fff;
  border-radius: 24px;
  padding: 10px 24px;
  text-align: center;
  text-transform: capitalize;
}

footer {
  background: #22273C;
  padding: 96px 165px 42px !important;
}
@media only screen and (min-width: 1000px) and (max-width: 1325px) {
  footer {
    padding: 96px 100px 42px !important;
  }
}
footer .gx-custom {
  -moz-column-gap: 99px;
       column-gap: 99px;
}
@media only screen and (min-width: 1201px) and (max-width: 1325px) {
  footer .gx-custom {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  footer .gx-custom {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
footer .chapter {
  margin-bottom: 32px;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}
footer .chapter .sub-link {
  color: #fff !important;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}
footer .chapter .footer-link {
  color: #A9AFB8 !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
}
footer .niaga-info {
  row-gap: 32px;
}
footer .niaga-info p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-bottom: 0;
  overflow-wrap: break-word;
}
footer .niaga-info .social-media-icon {
  gap: 18px;
}
footer .newsletter label {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}
footer .newsletter .d-flex {
  -moz-column-gap: 12px;
       column-gap: 12px;
}
footer .newsletter .btn-hoster-yellow {
  font-size: 16px;
  outline: none;
}

input::-moz-placeholder {
  color: #A9AFB8;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  color: #A9AFB8;
  opacity: 1;
  /* Firefox */
}

input::placeholder {
  color: #A9AFB8;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #A9AFB8;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #A9AFB8;
}

.input, .input-search {
  border-radius: 30px;
  border: 0;
  background-repeat: no-repeat;
  outline: 2px solid #D6DADE;
  outline-offset: -2px;
  padding: 12px 32px;
  font-size: 16px;
  color: #29384E;
}
.input:focus, .input-search:focus {
  outline: 2px solid #007AFF;
  outline-offset: -2px;
}

.bg-search, .input-search {
  background-position: calc(100% - 32px) center;
}

.btn-hoster-yellow {
  padding: 12px 64px;
  border: none;
  border-radius: 100px;
  background: #FF9800;
  box-shadow: 0px 8px 10px rgba(255, 176, 77, 0.32);
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  transition: ease-out 300ms;
}
.btn-hoster-yellow:hover {
  background: #ED8E01;
}
.btn-hoster-yellow:focus {
  outline: 2.5px solid #fff;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #fff;
}

.landing-ornament {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  background: linear-gradient(249.77deg, #0094FF -1.99%, #007AFF 43.52%, #026CE8 95.86%), #F0F7FF;
  padding: 24px 0 78px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 500px) {
  .hero {
    padding: 24px 12px 78px;
  }
}
.hero .banner-link {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  gap: 40px;
  padding: 12px 0;
  background: #0057B2;
}
.hero .banner-link .items {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.hero header {
  padding-top: 64px;
  color: #fff;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}
.hero header .headline {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 64px;
}
.hero header .hero-caption {
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0px 60px;
  text-align: center;
}

.get-started {
  background: linear-gradient(249.77deg, #0094FF -1.99%, #007AFF 43.52%, #026CE8 95.86%), #F0F7FF;
  padding: 92px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.get-started .headline {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #fff;
}
.get-started .caption {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.5%;
  text-align: center;
  line-height: 24px;
  margin: 28px auto 42px;
  max-width: 635px;
  color: #B8DAFE;
}

.title-section, .articles-preview .all-article-title, .articles-preview .article-section .head-section span {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #29384E;
}

.articles-preview {
  padding: 80px 0;
}
.articles-preview .author {
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.articles-preview .author img {
  width: 24px !important;
}
.articles-preview .author span {
  font-size: 12px;
  color: #29384E;
}
.articles-preview .article-content .content .title {
  font-size: 16px;
  color: #29384E;
  font-weight: 700;
}
.articles-preview .article-content .content p.paragraph {
  font-weight: 400;
  font-size: 12px !important;
  line-height: 16px;
  margin-bottom: 0;
  color: #546071;
  max-width: 550px;
  letter-spacing: 2%;
}
.articles-preview .article-detail {
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #29384E;
  font-size: 12px;
}
.articles-preview .article-detail .date,
.articles-preview .article-detail .duration {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.articles-preview .article-detail .niaga-badge {
  letter-spacing: 0.5%;
  color: #007AFF;
  padding: 8px 16px;
  border-radius: 99px;
  background: #E0EFFF;
}
.articles-preview .article-section {
  padding: 0 0 80px;
}
.articles-preview .article-section .head-section {
  margin-bottom: 36px;
}
.articles-preview .article-section .articles .article-item {
  -moz-column-gap: 60px;
       column-gap: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.articles-preview .article-section .articles .article-item .thumbnail img {
  width: 255px;
  overflow: hidden;
  max-height: 164px;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles-preview .article-section .toggle-allticle {
  margin-top: 36px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2%;
  color: #007AFF;
  padding: 12px 40px;
  border-radius: 30px;
  transition: ease-out 300ms;
}
.articles-preview .article-section .toggle-allticle:hover {
  background: #F2F2F2;
}
.articles-preview .article-section .toggle-allticle:focus {
  background: transparent;
  outline: 2px solid #ECECEC;
}
.articles-preview .subscribe {
  border-radius: 24px;
  padding: 36px;
  background: linear-gradient(249.77deg, #0094FF -1.99%, #007DFF 43.52%, #026CE8 95.86%);
  box-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);
  gap: 46px;
}
.articles-preview .subscribe .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.articles-preview .subscribe .caption {
  font-size: 16px;
  color: #E0EFFF;
}
.articles-preview .all-article-title {
  padding-top: 80px;
  margin-bottom: 36px;
}
.articles-preview .cards-all-article {
  row-gap: 56px;
}
.articles-preview .cards-all-article .flex-column {
  row-gap: 12px;
}
.articles-preview .cards-all-article .thumbnail-cards {
  max-width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 136px;
  border-radius: 5px;
}
.articles-preview .cards-all-article .article-content {
  max-width: 255px;
}
.articles-preview .cards-all-article .article-content p.paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.articles-preview .page-pagination {
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-top: 56px;
}
.articles-preview .page-pagination .item-links {
  padding: 15px 22px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: #29384E;
  outline: 1px solid #D9DDE3;
  background: transparent;
}
.articles-preview .page-pagination .item-links.active {
  color: #fff;
  outline: none;
  background: #007AFF;
}
.articles-preview .page-pagination .item-links.disabled {
  color: #D9DDE3;
}
.articles-preview .page-pagination .item-dots {
  font-size: 5px;
  padding: 15px 0;
  color: initial;
}
.articles-preview .blog-category {
  padding: 16px;
  margin-top: 36px;
}
.articles-preview .blog-category .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.5%;
  color: #29384E;
  margin-bottom: 24px;
}
.articles-preview .blog-category .accordion .accordion-item {
  border: none;
}
.articles-preview .blog-category .accordion .accordion-item .accordion-button {
  padding: 16px 0 !important;
}/*# sourceMappingURL=niagahoster.css.map */