@import 'utilities/fonts';
@import 'utilities/colors';

@import 'components/navbar';
@import 'components/footer';
@import 'components/input';

a {
    text-decoration: none;
}

.hero {
    background: $header-background;
    padding: 24px 0 78px;
    position: relative;
    overflow: hidden;

    @media (max-width: 500px) {
        padding: 24px 12px 78px;
    }

    .ornament {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .banner-link {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
        gap: 40px;
        padding: 12px 0;
        background: $dark-blue;

        .items {
            font-weight: 600;
            font-size: 16px;
            color: $white;
        }
    }

    header {
        padding-top: 64px;
        color: $white;
        max-width: 540px;
        margin: 0 auto;
        position: relative;

        .headline {
            font-weight: 700;
            font-size: 56px;
            text-align: center;
            line-height: 64px;
        }

        .hero-caption {
            font-size: 16px;
            line-height: 24px;
            margin: 32px 0px 60px;
            text-align: center
        }
    }

}

@import 'components/section-article';
