$white: #fff;
$black: #29384E;
$dark: #546071;
$hoster-blue: #007AFF;
$dark-blue: #0057B2;
$darkest-blue: #22273C;
$light-blue: #E0EFFF;
$hoster-yellow: #FF9800;
$gray: #A9AFB8;
$input-outline: #D6DADE;
$pagination-outline: #D9DDE3;

$card-background: linear-gradient(249.77deg, #0094FF -1.99%, #007DFF 43.52%, #026CE8 95.86%);
$blue-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);

$yello-shadow: 0px 8px 10px rgba(255, 176, 77, 0.32);
