.title-section {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: $black;
}

.articles-preview {
    padding: 80px 0;
    position: relative;

    .article-content {
        .content {
            .title {
                font-size: 16px;
                color: $black;
                font-weight: 700;
            }

            p.paragraph {
                font-weight: 400;
                font-size: 12px !important;
                line-height: 16px;
                margin-bottom: 0;
                color: $dark;
                max-width: 550px;
                letter-spacing: 2%;
            }
        }
    }

    .article-section {
        padding: 0 0 80px;

        .head-section {
            margin-bottom: 36px;

            span {
                @extend .title-section;
            }
        }

        .articles {

            .article-item {
                // column-gap: 60px;
                user-select: none;

                .thumbnail {
                    margin-left: auto;

                    img {
                        width: 255px;
                        overflow: hidden;
                        max-height: 164px;
                        object-fit: cover;
                    }
                }
            }
        }

        .toggle-allticle {
            margin-top: 36px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            letter-spacing: 2%;
            color: $hoster-blue;
            padding: 12px 40px;
            border-radius: 30px;
            transition: ease-out 300ms;

            &:hover {
                background: #F2F2F2;
            }

            &:focus {
                background: transparent;
                outline: 2px solid #ECECEC;
            }
        }
    }

    .all-article-title {
        padding-top: 80px;
        @extend .title-section;
        margin-bottom: 36px;
    }

    .subscribe-banner {
        .content {
            max-width: 438px !important;
        }
    }

    .page-pagination {
        column-gap: 18px;
        margin-top: 56px;

        .item-links {
            padding: 15px 22px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            border-radius: 8px;
            color: $black;
            outline: 1px solid $pagination-outline;
            background: transparent;

            &.active {
                color: $white;
                outline: none;
                background: $hoster-blue;
            }

            &.disabled {
                color: $pagination-outline;
            }
        }

        .item-dots {
            font-size: 5px;
            padding: 15px 0;
            color: initial;
        }


    }

    .category-bar {
        position: fixed;
        top: 120px;
        width: 310px;
    }

    .fixed-bottom {
        position: absolute;
        bottom: 50px;
    }

    .blog-category {
        padding: 16px;
        margin-top: 36px;

        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0.5%;
            color: $black;
            margin-bottom: 24px;
        }

        .accordion {
            .accordion-item {
                border: none;

                .accordion-button {
                    padding: 16px 0 !important;
                }
            }
        }
    }
}

.related-article {
    padding: 80px 0;
    background: #F5FAFF;

    .heading {
        font-size: 32px;
        font-weight: 700;
        color: $black;
        text-align: center;
        line-height: 42px;
        margin-bottom: 36px;
    }
}

.cards-vertical-article {
    row-gap: 56px;

    .flex-column {
        row-gap: 12px;
    }

    .thumbnail-cards {
        max-width: 255px;
        object-fit: cover;
        height: 136px;
        border-radius: 5px;
    }

    .article-content {
        max-width: 255px;

        p.paragraph {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

}

.subscribe-banner {
    border-radius: 24px;
    padding: 36px;
    background: $card-background;
    box-shadow: $blue-shadow;
    gap: 46px;

    .content {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $white;
        }

        .caption {
            font-size: 16px;
            color: $light-blue;
        }
    }

}

.article-detail {
    // column-gap: 12px;
    color: $black;
    font-size: 12px;

    .date,
    .duration {
        width: max-content;
    }

    .niaga-badge {
        letter-spacing: 0.5%;
        color: $hoster-blue;
        padding: 8px 16px;
        border-radius: 99px;
        background: $light-blue;
    }
}

.article-read {
    padding: 54px 0 0;

    .sitemap {
        max-width: 255px;

        .title {
            font-size: 20px;
            font-weight: 700;
            color: $black;
        }

        hr {
            border: 0.4px solid $pagination-outline;
            width: 90%;
        }
    }
}

.article-action-button {

    span {
        color: #848488;
        font-size: 12px !important;
        font-weight: 600;
        margin-left: 12px;
    }
}

.author {
    column-gap: 12px;

    img {
        width: 24px !important;
    }

    span {
        font-size: 12px;
        color: $black;
    }
}

.read-article {
    display: flex;
    flex-direction: column;
    max-width: 635px;
    gap: 36px;

    .head-section {
        .title {
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            color: $black;
            margin-bottom: 16px;
        }
    }

    .thumbnail-article {
        object-fit: cover;
        max-width: 100%;
        max-height: 338px;
        border-radius: 10px;
    }

    .body-para {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.5%;
        margin-bottom: 0;
    }

    .accordion {
        padding: 32px !important;
        border: 1px solid #BFC5CC;
        border-radius: 10px;

        .accordion-header {

            .accordion-button {
                font-size: 20px !important;
                font-weight: 700 !important;
                padding: 0;
            }
        }

        .accordion-body {
            padding: 0 !important;
        }
    }

    .section-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
    }

    .unordered-list {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;
    }

    .table-of-contents {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .parent,
        .child {
            font-size: 12px;
            font-weight: 400;
            color: $black;

            &.active {
                font-weight: 700;
                color: $hoster-blue !important;
            }
        }

        .parent {
            padding: 12px 0;
        }

        .child {
            padding: 6px 16px;
        }
    }

    .footer-action {
        a {
            img {
                width: 36px !important;
            }

            span {
                font-size: 20px !important;
                font-weight: 600 !important;
            }
        }
    }

}

.subscribe__2 {
    padding: 80px 0;

    .subscribe-banner {
        .content {
            max-width: 555px;
        }
    }
}
