.title-section {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: $black;
}

.articles-preview {
    padding: 80px 0;

    .author {
        column-gap: 12px;

        img {
            width: 24px !important;
        }

        span {
            font-size: 12px;
            color: $black;
        }
    }

    .article-content {
        .content {
            .title {
                font-size: 16px;
                color: $black;
                font-weight: 700;
            }

            p.paragraph {
                font-weight: 400;
                font-size: 12px !important;
                line-height: 16px;
                margin-bottom: 0;
                color: $dark;
                max-width: 550px;
                letter-spacing: 2%;
            }
        }
    }


    .article-detail {
        column-gap: 12px;
        color: $black;
        font-size: 12px;

        .date,
        .duration {
            width: max-content;
        }

        .niaga-badge {
            letter-spacing: 0.5%;
            color: $hoster-blue;
            padding: 8px 16px;
            border-radius: 99px;
            background: $light-blue;
        }
    }

    .article-section {
        padding: 0 0 80px;

        .head-section {
            margin-bottom: 36px;

            span {
                @extend .title-section;
            }
        }

        .articles {

            .article-item {
                // column-gap: 60px;
                user-select: none;

                .thumbnail {
                    margin-left: auto;

                    img {
                        width: 255px;
                        overflow: hidden;
                        max-height: 164px;
                        object-fit: cover;
                    }
                }
            }
        }

        .toggle-allticle {
            margin-top: 36px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            letter-spacing: 2%;
            color: $hoster-blue;
            padding: 12px 40px;
            border-radius: 30px;
            transition: ease-out 300ms;

            &:hover {
                background: #F2F2F2;
            }

            &:focus {
                background: transparent;
                outline: 2px solid #ECECEC;
            }
        }
    }

    .subscribe {
        border-radius: 24px;
        padding: 36px;
        background: $card-background;
        box-shadow: $blue-shadow;
        gap: 46px;

        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $white;
        }

        .caption {
            font-size: 16px;
            color: $light-blue;
        }
    }

    .all-article-title {
        padding-top: 80px;
        @extend .title-section;
        margin-bottom: 36px;
    }

    .cards-all-article {
        row-gap: 56px;

        .flex-column {
            row-gap: 12px;
        }

        .thumbnail-cards {
            max-width: 255px;
            object-fit: cover;
            height: 136px;
            border-radius: 5px;
        }

        .article-content {
            max-width: 255px;

            p.paragraph {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

    }

    .page-pagination {
        column-gap: 18px;
        margin-top: 56px;

        .item-links {
            padding: 15px 22px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            border-radius: 8px;
            color: $black;
            outline: 1px solid $pagination-outline;
            background: transparent;

            &.active {
                color: $white;
                outline: none;
                background: $hoster-blue;
            }

            &.disabled {
                color: $pagination-outline;
            }
        }

        .item-dots {
            font-size: 5px;
            padding: 15px 0;
            color: initial;
        }


    }

    .blog-category {
        padding: 16px;
        margin-top: 36px;

        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0.5%;
            color: $black;
            margin-bottom: 24px;
        }

        .accordion {
            .accordion-item {
                border: none;

                .accordion-button {
                    padding: 16px 0 !important;
                }
            }
        }
    }
}
